appId: com.airwallex.paymentacceptance
env:
  ENVIRONMENT: ${ENVIRONMENT || "DEMO"}
  NEXT_TRIGGERED_BY: ${NEXT_TRIGGERED_BY || "Customer"}
  LAYOUT: ${LAYOUT || "Tab"}
  FORCE_3DS: ${FORCE_3DS || "false"}
  EXPRESS_CHECKOUT: ${EXPRESS_CHECKOUT || "false"}
  IS_GUEST: ${IS_GUEST || "true"}
---
- assertVisible: "Settings"
- runFlow: # ensure environment
    when:
      notVisible: ${ENVIRONMENT}
    commands:
      - tapOn: "Environment"
      - tapOn: ${ENVIRONMENT}
      - assertVisible: ${ENVIRONMENT}
- runFlow: # ensure next triggered by
    when:
      notVisible: ${NEXT_TRIGGERED_BY}
    commands:
      - tapOn: "Next Trigger By"
      - tapOn: ${NEXT_TRIGGERED_BY}
      - assertVisible: ${NEXT_TRIGGERED_BY}
- runFlow: # ensure layout
    when:
      notVisible: ${LAYOUT}
    commands:
      - tapOn: "Payment Layout"
      - tapOn: ${LAYOUT}
      - assertVisible: ${LAYOUT}
- runFlow: # ensure value of force 3DS switch
    when:
      true: ${FORCE_3DS}
      visible:
        childOf:
            id: "com.airwallex.paymentacceptance:id/sw3DS"
        id: "com.airwallex.paymentacceptance:id/switchControl"
        checked: false
    commands:
      - tapOn:
          childOf:
            id: "com.airwallex.paymentacceptance:id/sw3DS"
          id: "com.airwallex.paymentacceptance:id/switchControl"
      - assertVisible:
          childOf:
            id: "com.airwallex.paymentacceptance:id/sw3DS"
          id: "com.airwallex.paymentacceptance:id/switchControl"
          checked: true
- runFlow: # ensure value of force 3DS switch
    when:
      true: ${FORCE_3DS == 'false'}
      visible:
        childOf:
          id: "com.airwallex.paymentacceptance:id/sw3DS"
        id: "com.airwallex.paymentacceptance:id/switchControl"
        checked: true
    commands:
      - tapOn:
          childOf:
            id: "com.airwallex.paymentacceptance:id/sw3DS"
          id: "com.airwallex.paymentacceptance:id/switchControl"
      - assertVisible:
          childOf:
            id: "com.airwallex.paymentacceptance:id/sw3DS"
          id: "com.airwallex.paymentacceptance:id/switchControl"
          checked: false
- scrollUntilVisible:
    element:
      id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
- runFlow: # ensure value of express checkout switch
    when:
      true: ${EXPRESS_CHECKOUT}
      visible:
        childOf:
          id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
        id: "com.airwallex.paymentacceptance:id/switchControl"
        checked: false
    commands:
      - tapOn:
          childOf:
            id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
          id: "com.airwallex.paymentacceptance:id/switchControl"
      - assertVisible:
          childOf:
            id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
          id: "com.airwallex.paymentacceptance:id/switchControl"
          checked: true
- runFlow: # ensure value of express checkout switch is off when EXPRESS_CHECKOUT is undefined, empty or false
    when:
      true: ${!EXPRESS_CHECKOUT || EXPRESS_CHECKOUT == 'false'}
      visible:
        childOf:
          id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
        id: "com.airwallex.paymentacceptance:id/switchControl"
        checked: true
    commands:
      - tapOn:
          childOf:
            id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
          id: "com.airwallex.paymentacceptance:id/switchControl"
      - assertVisible:
          childOf:
            id: "com.airwallex.paymentacceptance:id/swExpressCheckout"
          id: "com.airwallex.paymentacceptance:id/switchControl"
          checked: false
- scrollUntilVisible:
    element:
      id: "com.airwallex.paymentacceptance:id/etCustomerId"
- runFlow: # ensure customerId for registered user  
    when:
      true: ${IS_GUEST == 'false'}
      notVisible: ${UI_TESTING_CUSTOMER_ID}
    commands:
      - runFlow:
          when:
            visible:
              id: "com.airwallex.paymentacceptance:id/deleteIcon"
          commands:
            - tapOn:
                id: "com.airwallex.paymentacceptance:id/deleteIcon"
      - assertVisible: "Customer ID"
      - tapOn: "Customer ID"
      - runFlow:
          when:
            visible: "Try out your stylus"
          commands:
            - tapOn: "Cancel"
      - inputText: ${UI_TESTING_CUSTOMER_ID} # setup this in CI
      - assertVisible: ${UI_TESTING_CUSTOMER_ID}
      - hideKeyboard
- runFlow: # ensure no customerId for guest checkout
    when:
      true: ${IS_GUEST}
      visible:
        id: "com.airwallex.paymentacceptance:id/deleteIcon"
    commands:
      - tapOn: 
          id: "com.airwallex.paymentacceptance:id/deleteIcon"
      - assertVisible: "Customer ID"
      - assertVisible: "Generate"
- scrollUntilVisible:
    element: "Save"
- tapOn:
    id: "com.airwallex.paymentacceptance:id/btnSave"
- assertVisible: "settings saved"
- tapOn: "OK"