<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.airwallex.android">

    <application tools:targetApi="n">
        <activity
            android:name="com.airwallex.android.view.PaymentMethodsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AirwallexDefaultTheme" />

        <activity
            android:name="com.airwallex.android.view.PaymentCheckoutActivity"
            android:launchMode="singleTop"
            android:theme="@style/AirwallexDefaultTheme" />

        <activity
            android:name="com.airwallex.android.view.AddPaymentMethodActivity"
            android:launchMode="singleTop"
            android:theme="@style/AirwallexDefaultTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.airwallex.android.view.PaymentShippingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AirwallexDefaultTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.airwallex.android.view.DccActivity"
            android:launchMode="singleTop"
            android:theme="@style/AirwallexDefaultTheme" />

        <activity
            android:name=".view.ThreeDSecureActivity"
            android:theme="@style/AirwallexDefaultTheme" />
    </application>

</manifest>
