<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airwallex.android">

    <application>
        <activity
            android:name="com.airwallex.android.view.PaymentMethodsActivity"
            android:theme="@style/AirwallexDefaultTheme" />

        <activity
            android:name="com.airwallex.android.view.AddPaymentCardActivity"
            android:theme="@style/AirwallexDefaultTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.airwallex.android.view.AddPaymentBillingActivity"
            android:theme="@style/AirwallexDefaultTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <activity
            android:name="com.airwallex.android.view.AddPaymentShippingActivity"
            android:theme="@style/AirwallexDefaultTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

    </application>

</manifest>
